main {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.Container {
  margin-left: 5rem;
  text-align: left;
}

.Container > div {
  margin-bottom: 2rem;
}

.Container span {
  text-transform: uppercase;
  font-weight: 800;
}

.OptionsButtons {
  display: flex;
  flex-wrap: wrap;
}
