.AlpacaActions {
  display: flex;
  justify-content: center;
}

.AlpacaActions button {
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.AlpacaActions button:not(:last-child) {
  margin-right: 2rem;
}
