@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-sky-50;
  }

  .section-title {
    @apply text-sky-900 uppercase font-bold;
  }

  .btn-container {
    @apply flex flex-wrap gap-2;
  }

  .btn-action {
    @apply flex-1 py-2 bg-white rounded;
  }

  .btn-option {
    @apply bg-transparent text-sky-300 hover:text-sky-900 capitalize py-2 px-4 border-solid border-2 border-sky-300 hover:border-sky-900 rounded-2xl;
  }

  .btn-option.btn-selected {
    @apply bg-sky-900 text-white border-sky-900;
  }

  .img {
    @apply row-start-1 row-end-1 col-start-1 col-end-1 w-full;
  }
}

/* CSS variables 
:root {
  --primary-color: #245879;
  --secondary-color: #779fb8;
  --font-color: #1d3557;
  --bg-color: #d8dad8da;
}

body {
  background-color: var(--bg-color);
}
*/
